mat-form-field {
    padding: 10px;
}
#topRightLogin {
    text-align: right;
}
#topMenu {
    background-color: lightblue;
    box-shadow: 5px 5px 5px grey;
    color: rgb(255, 255, 255);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}